{% extends "base.html" %}
{% block title %} {{ block.super }} - Autopilot{% endblock %}
{% block content %}
{% load euformat %}
{% if autopilot %}
<div class="w3-container w3-padding-small">
  <h2><a href="/autopilot/">Autopilot Logs</a></h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th title="When the autopilot action was taken">Timestamp</th>
      <th title="Short channel ID of the channel that was modified">Channel ID</th>
      <th title="Alias of the remote peer for this channel">Peer Alias</th>
      <th title="Which setting was changed (e.g. auto_rebalance)">Setting</th>
      <th title="Previous value of the setting before the autopilot change">Old Value</th>
      <th title="New value applied by autopilot">New Value</th>
    </tr>
    {% for log in autopilot %}
    <tr>
      <td title="{{ log.timestamp }}">{{ log.timestamp|naturaltime }}</td>
      <td><a href="/channel?={{ log.chan_id }}" target="_blank">{{ log.chan_id }}</a></td>
      <td><a href="/autopilot?={{ log.chan_id }}">{% if log.peer_alias == '' %}---{% else %}{{ log.peer_alias }}{% endif %}</a></td>
      <td>{{ log.setting }}</td>
      <td>{{ log.old_value }}</td>
      <td {% if log.new_value == 1 %}style="background-color: rgba(46,160,67,0.15)"{% else %}style="background-color: rgba(248,81,73,0.15);"{% endif %}>{{ log.new_value }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if not autopilot %}
<div class="w3-container w3-padding-small">
  <center><h1>No autopilot logs to see here yet!</h1></center>
  <center><h6>Experimental. This will allow LNDg to automatically act upon the suggestions found <a href="/actions" target="_blank">here</a>.</h6></center>
</div>
{% endif %}
{% endblock %}
